[Unit]
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/gna/ws

Environment="ROS_DOMAIN_ID=1"
Environment="LD_LIBRARY_PATH=/opt/ros/humble/opt/rviz_ogre_vendor/lib:/opt/ros/humble/lib/x86_64-linux-gnu:/opt/ros/humble/lib"
Environment="PYTHONPATH=/opt/ros/humble/lib/python3.10/site-packages:/opt/ros/humble/local/lib/python3.10/dist-packages"
Environment="AMENT_PREFIX_PATH=/opt/ros/humble"
Environment="HOME=root"
ExecStart=/usr/bin/bash /usr/local/bin/tosbaja_startup.sh

[Install]
WantedBy=multi-user.target